{% extends 'base.html' %} 
{% block title %}Об авторе проекта{% endblock %} 
{% block content %} 
{% load static %}

<style>
  .rightpic {
    float: right;
    margin: 0 0 15px 15px;
  }
</style>
<img src='{% static 'img/yaroslav.jpg' %}' width='30%' height='45%'
class='rightpic'>

<h1>Привет, меня зовут Ярослав!</h1>
<br>
<p>
  Вы находитесь на одной из страниц моего первого серьезного проекта. Да, проект
  учебный и во многом меня водили за ручку. Однако это не отменяет того факта,
  что мой вариант социальной сети Yatube был построен без старания.
</p>
<p>
  Еще год назад я и подумать не мог что соберу нечто подобное своими руками. Все
  было по-другому, дети сдавали мне тетради по истории в конце уроков и называли
  Ярослав Станиславович. В этом маленьком мирке мне стало тесно. Я захотел
  перемен.
</p>
<p>
  В ноября 2022 г. я взялся за изучения языка программирования Python и
  бэкенд-разработки. Сейчас, когда я пишу это, март 2023 г. и за время учебы у
  меня произошла самая настоящая переориентация мышления. Поток новой информации
  по сей день бьет ключом и мне это нравится. Еще многое предстоит узнать, но я
  горд тем, что уже и знаю немало.
</p>
<p>27 – это только начало.</p>
{% endblock %}
